@CHARSET "ISO-8859-1";

html, body {
  height: 100%;
}

.flex-container {
	min-height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	text-align: center;
	flex-direction: column;
}

.flex-container>* {
	padding: 15px;
	-webkit-flex: 1 100%;
	flex: 1 100%;
	flex-direction: column;
	text-align: center;
}

.article {
	text-align: left;
}

header {
	background: black;
	color: white;
	font-size: 5;
}

footer {
	background: #fff;
	color: white;
}

.nav {
	background: #eee;
}

.nav ul {
	list-style-type: none;
	padding: 0;
}

.nav ul a {
	text-decoration: none;
}

@media all and (min-width: 768px) {
	.nav {
		text-align: left;
		-webkit-flex: 1 auto;
		flex: 1 auto;
		-webkit-order: 1;
		order: 1;
	}
	.article {
		-webkit-flex: 5 0px;
		flex: 5 0px;
		-webkit-order: 2;
		order: 2;
	}
	footer {
		-webkit-order: 3;
		order: 3;
		text-align: center;
	}
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* th { */
/* /*     border: 1px solid #dddddd; */ */
/*     text-align: center; */
/*     padding: 8px; */
/* } */

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

td:nth-child(1) {
    background-color: #1188ff;
    text-align: center;
}
td:nth-child(2) {
    background-color: #118811;
    color: #ffffff;
    text-align: center;
}
td:nth-child(3) {
    background-color: #ff1111;
    text-align: center;
}
td:nth-child(4) {
    background-color: #dddddd;
    text-align: center;
}

tr {
	background-color: #aaaaaa;
}

/* tr:nth-child(even) { */
/*     background-color: #dddddd; */
/* } */